.selector-wrapper {
  margin: auto;
  margin-bottom: 3%;
}

.selector-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.selector-items {
  text-align: center;
  padding: 25px;
  border: 3px solid #f78f8f;
  margin: 1%;
  border-radius: 25px;
}

.selector-bottle-img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.selector-items:hover {
  box-shadow: 0 5px 25px #343b3f;
}
