.random-drink-wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.random-drink-card {
  text-align: center;
  background-color: #d8c3a59c;
  padding-bottom: 4%;
}
.random-drink-card-title {
  background-color: #d8c3a59c;
}

.random-drink-divs {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.random-drink-item {
  width: 50%;
  text-align: center;

  margin: 1% 1% 2% 2%;
  border: 5px solid #f78f8f;
  border-radius: 25px;
  background-color: #d9c5a5;
}

.random-drink-divs h1 {
  font-family: "Abril Fatface", cursive;
  color: #e85a4f;
  margin-bottom: 0px;
  background-color: #343b3f;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.random-drink-header {
  width: 122%;
  text-align: center;
}

.random-drink-img {
  width: 68%;
  border-radius: 50%;
  margin-top: 12px;
  border: 5px solid #f78f8f;
  padding: 0.5px;
}

.random-drink-items {
  list-style: none;
  margin-left: 35%;
  width: 28%;
  padding-top: 2%;
}

#instructionsH4 {
  text-align: left;
  padding-left: 6%;
  padding-top: 1%;
}
#instructionsP {
  padding-top: 2%;
}

#tryRecipeH1 {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 100px;
  color: #333c3f;
}
.random-drink-content h1 {
  width: 336px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  margin-left: auto;
  margin-right: auto;
}
.random-drink-content {
  text-align: center;

  font-size: 20px;
}

.random-drink-content h1 {
  width: 100%;
  background-color: #343b3f;
}

.random-drink-content h3 {
  width: 100%;
}

.random-drink-content p {
  width: 60%;
  text-align: left;
  margin-left: 23%;
}
