a,
figcaption {
  text-decoration: none;
}
hr.solid {
  border-top: 1px solid #bbb;
  padding-bottom: 34px;
}

.drink-list-item img {
  width: 90%;
  border-radius: 50%;
}

.drink-list-wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.drink-list-wrapper h1 {
  text-align: center;
}
.drink-list-items {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: auto;

  padding: 0px;
}
.filtered-drink-list-title-item {
  margin-right: 5%;
  margin-left: 5%;
}
.filtered-drink-list-title-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
}

.filtered-drink-list-title {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: 50%;
  margin-right: auto;
  align-items: center;
}

.sm-filter-drink-selector {
  font-family: "Abril Fatface", cursive;
  margin-bottom: 0.5%;
}

.sm-filter-drink-selector h1 {
  font-size: 100px;
  color: #343b3f;
}

.drink-items-wrapper {
  width: 93%;
  margin-right: auto;
  margin-left: auto;
}

.drink-card {
  width: 210px;
  text-align: center;
  border: 5px solid #8e8d8a;
  border-radius: 5px;
  background-color: #d8c3a5;
}

.drink-card:hover {
  border: 5px solid #e85a4f;
}

.drink-card:hover img {
  border: 5px solid #e85a4f;
}

.drink-card figcaption {
  flex-wrap: wrap;
  padding-top: 3px;
}

.drink-list-item {
  padding: 10px;
}
